// CORES //
$cor-primaria: #ff2a4d;
$fundo-preto: #050505;
$texto-offwhite: #f5f5f5;
$destaque-verde: #d4ff00;
$vazio-cinza: #262626;
$texto-cinza: #555555;
$fundo-secundario: #121212;

// TIPOGRAFIA //
$fonte-Monument: 'MonumentExtended', sans-serif;
$fonte-Space: 'Space Grotesk', sans-serif;